In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
warnings.simplefilter(action='ignore', category=FutureWarning)
dataset = pd.read_csv("dataset.csv")
dataset.head()

,Video Name,Serial Num,Frame Start,Frame End,Frame Difference,Frame Time Diff
0,ADS HG,0,423,448,25,100
1,ADS HG,1,684,709,25,100
2,ADS HG,2,958,980,22,88
3,ADS HG,3,1227,1252,25,100
4,ADS HG,4,1496,1520,24,96

In [ ]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,5].values
X, y

(array([['ADS HG', 0, 423, 448, 25],
        ['ADS HG', 1, 684, 709, 25],
        ['ADS HG', 2, 958, 980, 22],
        ...,
        ['Walk Back', 239, 4786, 4813, 27],
        ['Walk Back', 240, 5031, 5061, 30],
        ['Walk Back', 241, 5287, 5317, 30]], dtype=object),
 array([100, 100,  88, 100,  96, 104, 100,  92,  92,  92, 104,  96, 100,
        100,  96,  92, 108, 104,  72,  76,  76,  80,  84,  84,  76,  80,
         84,  76,  72,  72,  84,  76,  72,  72,  80,  72,  76,  80,  84,
         72,  76,  72,  72, 224, 220, 208, 240, 228, 240, 244, 244, 244,
        260, 228, 232, 220, 228, 256, 224, 252, 228, 240, 220, 212, 196,
        192, 188, 168, 184, 196, 192, 200, 204, 200, 196, 196, 208,  68,
         68,  80, 100,  88,  76,  80,  80,  72,  72,  80,  72,  68,  68,
         68,  76,  72,  76,  76,  72,  76, 284, 300, 276, 280, 292, 288,
        280, 300, 276, 284, 300, 276, 288, 280, 276, 272, 280, 296, 284,
        280, 296, 296, 296, 292, 292, 296, 288, 288, 288, 276, 208, 224,
        228, 196, 240, 244, 216, 208, 224, 240, 244, 204, 212, 220, 192,
         32,  44,  56,  48,  28,  64,  52,  52,  68,  56,  60,  52,  56,
         68,  52,  56,  56,  68,  56,  60,  56,  52,  56,  60,  56,  60,
         56,  60,  56,  60,  64,  68,  64,  60,  64,  64,  72,  72,  56,
         64,  56,  64,  60,  56,  68,  68,  64,  60,  56,  60,  56,  56,
         60,  60,  60,  60,  60,  60,  64,  56,  60,  60,  48,  60,  64,
         56,  72,  60,  64,  60,  60,  52,  72,  60,  64,  56,  64,  64,
         64, 108, 120, 124, 112, 120, 112, 120, 124, 108, 112, 120, 116,
        112, 132, 116, 120, 104, 108, 120, 120]))

In [ ]:
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(columnTransformer.fit_transform(X),dtype=np.str)
X = X[:, 1:] #Prevent Dummy Variable Trap
pd.DataFrame(X)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

      0    1    2    3    4    5    6    7    8    9     10    11  12
0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    0   423   448  25
1    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    1   684   709  25
2    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    2   958   980  22
3    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    3  1227  1252  25
4    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    4  1496  1520  24
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...  ..
237  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  237  4300  4330  30
238  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  238  4555  4581  26
239  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  239  4786  4813  27
240  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  240  5031  5061  30
241  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  241  5287  5317  30

[242 rows x 13 columns]

## Model Training

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.1, random_state = 0)
print("Linear Regression \n")
regressor = LinearRegression()
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_test)
print('MSE = ',mean_squared_error(y_test, y_pred))
accuracy = regressor.score(X_test,y_test)
print('Accuracy of the model is',accuracy*100,'% \n\n')

print("Random Forest Regression \n")
regressor = RandomForestRegressor(n_estimators = 300, random_state = 0)
regressor.fit(X,y)
y_pred = regressor.predict(X_test)
print('MSE = ',mean_squared_error(y_test, y_pred))
accuracy = regressor.score(X_test,y_test)
print('Accuracy of the model is',accuracy*100,'% \n\n')

print("SVR \n")
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y.reshape(-1,1))
regressor = SVR(kernel='rbf')
regressor.fit(X,y)
print('MSE = ',mean_squared_error(y_test, y_pred))
accuracy = regressor.score(X_test,y_test)
print('Accuracy of the model is',accuracy*100,'% \n\n')

print("Logistic Regression \n")
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)
print('MSE = ',mean_squared_error(y_test, y_pred))
accuracy = classifier.score(X_test,y_test)
print('Accuracy of the model is',accuracy*100,'% \n\n')

print("KNN \n")
classifier = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p = 2)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
print('MSE = ',mean_squared_error(y_test, y_pred))
accuracy = classifier.score(X_test,y_test)
print('Accuracy of the model is',accuracy*100,'% \n\n')

print("Naive Bayes \n")
classifier = GaussianNB()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
print('MSE = ',mean_squared_error(y_test, y_pred))
accuracy = classifier.score(X_test,y_test)
print('Accuracy of the model is',accuracy*100,'% \n\n')

print("Random Forest Classification \n")
classifier = RandomForestClassifier(n_estimators=10, criterion="entropy", random_state=0)
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)
print('MSE = ',mean_squared_error(y_test, y_pred))
accuracy = classifier.score(X_test,y_test)
print('Accuracy of the model is',accuracy*100,'% \n\n')

Linear Regression

MSE =  1.4035352641174722e-24
Accuracy of the model is 100.0 %


Random Forest Regression

MSE =  0.06069333333333378
Accuracy of the model is 99.99918735832328 %


SVR

MSE =  0.06069333333333378
Accuracy of the model is -242.03747890782208 %


Logistic Regression

MSE =  12081.28
Accuracy of the model is 12.0 %


KNN

MSE =  13337.6
Accuracy of the model is 8.0 %


Naive Bayes

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

MSE =  1.92
Accuracy of the model is 88.0 %


Random Forest Classification

MSE =  58.88
Accuracy of the model is 56.00000000000001 %

In [ ]:
for z in range(10, 51, 5):
    para = float('0.'+ str(z))
    print("----------- test_size = {} -----------".format(para))
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = para, random_state = 0)
    print("Linear Regression \n")
    regressor = LinearRegression()
    regressor.fit(X_train,y_train)
    y_pred = regressor.predict(X_test)
    print('MSE = ',mean_squared_error(y_test, y_pred))
    accuracy = regressor.score(X_test,y_test)
    print('Accuracy of the model is',accuracy*100,'% \n\n')

----------- test_size = 0.1 -----------
Linear Regression

MSE =  8.481795475081387e-31
Accuracy of the model is 100.0 %


----------- test_size = 0.15 -----------
Linear Regression

MSE =  9.583648624953687e-31
Accuracy of the model is 100.0 %


----------- test_size = 0.2 -----------
Linear Regression

MSE =  3.5200521291847674e-31
Accuracy of the model is 100.0 %


----------- test_size = 0.25 -----------
Linear Regression

MSE =  8.791404499952655e-31
Accuracy of the model is 100.0 %


----------- test_size = 0.3 -----------
Linear Regression

MSE =  1.7559681108164237e-30
Accuracy of the model is 100.0 %


----------- test_size = 0.35 -----------
Linear Regression

MSE =  4.951612619143234e-31
Accuracy of the model is 100.0 %


----------- test_size = 0.4 -----------
Linear Regression

MSE =  1.3797267810587726e-30
Accuracy of the model is 100.0 %


----------- test_size = 0.45 -----------
Linear Regression

MSE =  2.143828598150284e-30
Accuracy of the model is 100.0 %


----------- test_size = 0.5 -----------
Linear Regression

MSE =  2.7860296652211082e-30
Accuracy of the model is 100.0 %